@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'PixelFont';
  src: url('./fonts/pixel-font.ttf') format('truetype');
}

body {
  @apply bg-black text-white font-pixel;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-space {
  background-color: #000;
  background-image: 
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  animation: space 5s infinite linear;
}

@keyframes space {
  0% {
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
  100% {
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    transform: rotate(360deg);
  }
}
