@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'PixelFont';
  src: url('./fonts/pixel-font.ttf') format('truetype');
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background: #000;
}